/* Timeline progress bar - opacity animation */
.timeline_progress-bar {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.timeline_component.is-inview .timeline_progress-bar {
  opacity: 1;
}

@media screen and (min-width: 992px) and (max-width: 1310px) {
  .timeline_item {
    display: flex;
    width: 100%;
    padding-left: var(--size--4rem);
    flex-flow: column;
    grid-template-columns: 1fr 180px;
  }
  .timeline_centre {
    position: absolute;
    inset: 0% auto 0% 0%;
  }
  .timeline_progress {
    inset: 0% auto 0% 1rem;
  }
}
