@import './css/team.css';
@import './css/slider.css';
@import './css/component.css';
@import './css/watches.css';
@import './css/homepage.css';
@import './css/customPieces.css';
@import './css/animation.css';
@import './css/story.css';
@import './css/making.css';
